
#banner img{
    width: 100%;

}

#banner .contenedor{
    position: absolute;
    top: 25%;
    left: 15%;
    width: 50%;
    color: blueviolet;
    font-family: cursive;
}

#banner .contenedor h2{
    font-size: 29px;
}

#banner a{
    display: block;
    width: 100px;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px;
    border-radius: 7px;
    border: 3px solid tomato;
}

#banner a:hover{
    background: white;
}